.movie-details-page{
  &-header{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 1rem 0;
    padding: 1rem 0;
  }

  &-img{
    margin: auto;
  }
  
  &-content{
    background: rgb(102,111,150);
    background: radial-gradient(circle, rgba(102,111,150,1) 0%, transparent 61%);
  }
}