// Colors
$clr1: #2c2443;
$clr2: #f4f5f9;
$clr3: #7a7985;
$clr4: #0c3c4c;
$clr5: #93fcec;
$clr6: #09eab4;
$clr7: #ffffff;

$navHeight: 65px;

// Breakpoints
$mobile-breakpoint: 600px;
$tablet-breakpoint: 768px;
$normal-breakpoint: 1300px;
$wide-breakpoint: 1080px;